name = "unique-ue-api"
main = "api-worker.js"
compatibility_date = "2024-01-01"

[env.production]
name = "unique-ue-api"

# We will set these secrets using the 'wrangler secret put' command
# This just tells the worker what to expect
[vars]
TO_EMAIL = "your-email@example.com" # This is just a default, the secret will override it

# Secrets:
# GITHUB_PAT
# HUGGINGFACE_TOKEN
# SENDGRID_API_KEY
# TO_EMAIL